<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Maxim Sokhatsky" />
<title>BPE</title>
<link rel="stylesheet" href="https://n2o.dev/blank.css"/>
<link rel="shortcut icon" type="image/x-icon" href="https://n2o.dev/img/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="https://n2o.dev/img/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="https://n2o.dev/img/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="https://n2o.dev/img/favicon-16x16.png"/>
<link rel="manifest" href="https://n2o.dev/img/site.webmanifest"/>
</head>
<body>
<nav>
  <a href="https://n2o.dev/ua/">DEV</a>
  <a href="https://bpe.n2o.dev/" style="background:#ededed;">BPE</a>
  <div class="dropdown">
    <a onclick="drop()" class="dropbtn">UA</a>
    <div id="dropdown" class="dropdown-content">
      <a href="https://n2o.dev/ua/deps/bpe/man/index.html">UA</a>
      <a href="https://bpe.n2o.dev/">EN</a>
    </div>
  </div>
</nav>
<header>
  <a href="https://github.com/synrc/bpe"><img src="https://openmoji.org/data/color/svg/1F4A0.svg"/></a>
  <h1>BPE</h1>
</header>
<aside>
  <article>
    <section>
      <h3>СИНОПСИС</h3>
      <div>
        Бізнес-процеси підприємства (БПП) визначають інфраструктуру
        для оркестрування виробничих процесів згідно стандарту BPMN,
        та систем на основі декларативних правил. БПП зберігає
        транзакційно усі кроки бізнес-процесів у сучасній системі
        даних KVS на базі RocksDB.
      </div>
      <figure>
        <code>
 $ mad get bpe &#38;&#38; cd bpe
 $ mad com pla rep
 &#62; bpe:start(bpe_account:def(),[]).
        </code>
      </figure>
    </section>
    <section>
      <h3>МОДУЛІ</h3>
      <div>
        <ul>
          <li><a href="bpe.htm">BPE</a></li>
          <li><a href="task.htm">TASK</a></li>
          <li><a href="event.htm">EVENT</a></li>
        </ul>
      </div>
      <br />
      <div>
        NOV 2021 © <a href="https://github.com/5HT">5HT</a> ISC<br />
        VER 6.11 6.7 6.5
      </div>
    </section>
  </article>
</aside>
<main>
<article>
  <section>
    <h3>Стандарт ISO 19510</h3>
    <p>Підтримка сутностей BPMN в BPE:</p>
    <p>beginEvent — початкова подія<br/>
       subProcess — виклик підпроцесу<br/>
       gateway — абстрактне розгалуження<br/>
       exclusiveGateway — розгалуження<br/>
       parallelGateway — паралельне розгалуження<br/>
       eventBasedGateway — розгалуження запущене подією<br/>
       messageEvent — асинхронне повідомлення через чергу Erlang-процесу<br/>
       messageFlow — асинхронне повідомлення через чергу KVS<br/>
       sequenceFlow — ребро між задачою та/або розгалуженням<br/>
       boundaryEvent — таймаут усього процесу<br/>
       timeoutEvent — автоперехід на наступний крок БП<br/>
       endEvent — кінцева подія<br/>
       userTask — веб-користувач<br/>
       serviceTask — алгоритм який миттєво виконується<br/>
       sendTask — крок, який інкапсулює KVS #writer<br/>
       receiveTask — крок, який інкапсулює KVS #reader<br/>
    </p>
  </section>  
  <section>
    <h3>Приклад сесії оператора</h3>
    <figure>
      <code>
&#62; bpe:start(bpe_account:def(),[]).
Process "1562195753535380000" spawned as &#60;0.139.0&#62;.
{ok,"1562195753535380000"}

&#62; bpe:complete("1562195753535380000").
Process: "1562195753535380000" Task: 'Created' Targets: ['Init']
Target: 'Init' Status: reply Reason: unknown_task
{unknown_task,'Init'}

&#62; bpe:hist("1562195753535380000").
[ {hist,{1,"1562195753535380000"},
    feed,[],[],[],[],'IBAN Account',
    {task,'Init'},
    [],
    {{2019,7,4},{2,13,43}}},
  {hist,{0,"1562195753535380000"},
    feed,[],[],[],[],'IBAN Account',
    {task,'Created'},
    [],
    {{2019,7,4},{2,13,7}}}]

&#62; bpe:head("1562195753535380000").
{hist,{1,"1562195753535380000"},
   feed,[],[],[],[],'IBAN Account',
   {task,'Init'},
   [],
   {{2019,7,4},{2,13,43}}}

&#62; supervisor:which_children(bpe_otp).
[{"1562195753535380000",&#60;0.139.0&#62;,worker,[bpe_proc]}]
      </code>
    </figure>
    
    <figcaption>Як дані зберігаються в KVS</figcaption>
    <figure>
      <code>
&#62; kvs:all(writer).
[{writer,"/bpe/proc",1,[],[],[]},
 {writer,"/bpe/hist/1562195753535380000",2,[],[],[]}]

&#62; kvs:get("/bpe/hist/1562195753535380000",{1,"1562195753535380000"}).
{ok,{hist,{1,"1562195753535380000"},
      feed,[],[],[],[],'IBAN Account',
      {task,'Init'},
      [],
      {{2019,7,4},{2,16,7}}}}
      </code>
    </figure>
  </section>
  <section>
    <h3>Специфікація BPMN</h3>
    
    <p>Ця схема охоплює 80% всіх робочих процесів та забезпечує лише 20% стандартного покриття.
   Ми називаємо це Легким BPMN, або BPE.
    </p>
    <figcaption>Легкий BPMN</figcaption>
    <figure>
      <code>
-type bst()    :: binary() | string() | atom().
-type procId() :: [] | integer() | {atom(),any()}.
-type histId() :: [] | integer() | {atom()|string(),any()}.

-record(hist, { id        = [] :: histId(),
                container = feed :: [] | atom(),
                feed_id   = [] :: any(),
                prev      = [] :: [] | integer(),
                next      = [] :: [] | integer(),
                feeds     = [] :: list(),
                name      = [] :: [] | binary(),
                task      = [] :: [] | {atom()|string(),any()},
                docs      = [] :: list(tuple()),
                time      = [] :: term() }).

-type tasks() :: #task{} | #serviceTask{} | #userTask{}
                 | #receiveTask{} | #beginEvent{} | #endEvent{}.

-type events() :: #messageEvent{} | #boundaryEvent{}
                  | #timeoutEvent{}.

-record(process, { id            = [] :: procId(),
                   container     = feed :: [] | atom(),
                   feed_id       = [] :: [] | term(),
                   prev          = [] :: [] | integer(),
                   next          = [] :: [] | integer(),
                   name          = [] :: [] | bst(),
                   feeds         = [] :: list(),
                   roles         = [] :: list(),
                   tasks         = [] :: list(tasks()),
                   events        = [] :: list(events()),
                   hist          = [] :: [] | term(),
                   flows         = [] :: list(#sequenceFlow{}),
                   rules         = [] :: [] | term(),
                   docs          = [] :: list(tuple()),
                   options       = [] :: term(),
                   task          = 'Created' :: [] | atom(),
                   timer         = [] :: [] | reference(),
                   notifications = [] :: [] | term(),
                   result        = [] :: [] | binary(),
                   started       = [] :: [] | calendat:datetime(),
                   beginEvent    = [] :: [] | atom(),
                   endEvent      = [] :: [] | atom()}).
      </code>
    </figure>
  </section>
  <section>
  <h3>Приклади процесів</h3>
  <figcaption>Приклад визначення процесу</figcaption>
  <figure>
      <code>
-module(bpe_account).
-compile(export_all).
def() -&#62;
  #process { name = 'IBAN Account',
  flows = [
    #sequenceFlow { source='Created',   target='Init'},
    #sequenceFlow { source='Init',      target='Upload'},
    #sequenceFlow { source='Upload',    target='Payment'},
    #sequenceFlow { source='Payment',   target=['Signatory','Process']},
    #sequenceFlow { source='Process',   target=['Process','Final']},
    #sequenceFlow { source='Signatory', target=['Process','Final']} ],
  tasks = [
    #beginEvent  { name='Created',   module = bpe_account },
    #userTask    { name='Init',      module = bpe_account },
    #userTask    { name='Upload',    module = bpe_account },
    #userTask    { name='Signatory', module = bpe_account },
    #serviceTask { name='Payment',   module = bpe_account },
    #serviceTask { name='Process',   module = bpe_account }, 
    #endEvent    { name='Final',     module = bpe_account } ],
  beginEvent = 'Created',
  endEvent   = 'Final',
  events = [ #messageEvent{name='PaymentReceived'} ] }.
      </code>
    </figure>
  </section>
  <section>
    <a name="plugin"></a>
    <h3>Впровадження</h3>
    <p>Компанії, які використовують BPE:
    </p>
    <div>
      <ul>
        <li><a href="https://pb.ua/depozit">pb.ua/depozit</a> — АТ КБ "ПриватБанк"</li>
        <li><a href="https://nynja.io">nynja.io</a> — NYNJA, Inc.</li>
        <li><a href="https://infotech.gov.ua">infotech.gov.ua</a> — ДП "Інфотех".</li>
      </ul>
      <br /><br />
    </div>
  </section>
  <section>
    <a name="plugin"></a>
    <h3>Дописувачі</h3>
    <div>
      <ul>
        <li><a href="https://github.com/5HT">5HT</a> — Намдак Тонпа</li>
        <li><a href="https://github.com/umka1332">umka1332</a> — Олександр Наумов</li>
      </ul>
      <br /><br />
    </div>
  </section>
</article>
</main>
<footer>
  Зроблено з любов'ю <span class="heart">❤</span> до N2O
</footer>
<script>function drop(){document.getElementById("dropdown").classList.toggle("show");}</script>
</body>
</html>
